/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Poppins, 'sans-serif';
}

.mat-drawer-inner-container::-webkit-scrollbar {
    display: none;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
}