<mat-nav-list>
  <a mat-list-item >
    <mat-icon>notes</mat-icon> <span>Notes</span>
  </a>
  <a mat-list-item >
    <mat-icon>label_outline</mat-icon> <span>Label 1</span>
  </a>
  <a mat-list-item >
    <mat-icon>label_outline</mat-icon> <span>Label 2</span>
  </a>
  <a mat-list-item >
    <mat-icon>label_outline</mat-icon> <span>Label 3</span>
  </a>
  <a mat-list-item >
    <mat-icon>archive_outline</mat-icon> <span>Archive</span>
  </a>
  <a mat-list-item >
    <mat-icon>delete_outline</mat-icon> <span>Bin</span>
  </a>
</mat-nav-list>